# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Pyre type checker
.pyre/

# Bandit security linter
.bandit

# Cython debug symbols
cython_debug/

# Poetry
poetry.lock
.poetry

# IDE / Editor-specific
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Docker
*.container
*.pid

# Pycharm
/.idea/
/.idea_modules/
/workspace.xml

# Virtual environment for Poetry (optional, in case of virtualenvs.in-project = true)
.virtualenv/
venv/

# Logs
logs/
*.log
*.out

# Temporary files
*.bak
*.tmp
*.temp
*.old
*.orig
*.rej

# Local environment variables
.env
.env.*

# bootstrap compiler output
output.py

# Test files
test_*.py
test_*.sfn

# Node.js
out
dist
node_modules
.vscode-test/
*.vsix
